<html>
<head>
    <title></title>
</head>
<body>


 

    <table align="center" bgcolor="#EAECED" border="0" cellpadding="0"
    cellspacing="0" width="100%">
        <tbody>
         
            <tr style="font-size:0;line-height:0">
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <div style=
                    "color:inherit;font-size:inherit;line-height:inherit;margin:inherit;padding:inherit">
                    </div>
                    <table width="600">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" width="570">
                                        <tbody>
                                            <tr>
                                                <td width="70">
                                                    <a href="http://3littlemudpies.com"
                                                    target="_blank"><img alt=
                                                    "3littlemudpie-logo-50x472x.jpg"
                                                    height="80" src=
                                                    "https://seekvectorlogo.com/wp-content/uploads/2019/05/yazaki-vector-logo.png"
                                                    style="border:0" width=
                                                    "180"></a>
                                                </td>
                                                <td  style=
                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:25px;line-height:30px!important;font-weight:200!important;color:#252b33!important">
                                                   Platforme invitation 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                           
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table bgcolor="#FFFFFF" border="0"
                                    cellpadding="0" cellspacing="0" style=
                                    "overflow:hidden!important;border-radius:3px"
                                    width="580">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href=
                                                    "http://get.invisionapp.com/e1t/c/*W8q197m87bTZDW3GQmLK13hZky0/*W13K2W41sYqvmN3D1Zp-wdFZ00/5/f18dQhb0Sq5v8Y9-zHW70BpRg4T_wzgW64zw9H1q7sY6MscWgjXD6prW39DrXV26p8nbW5CR6n97cVKJwW50lYRv7nwMJHW2JZL_31xqJy3VYnPL76Qj-05W5DHNj65CRgMyW5CqxQZ2m3jxNW7dcWxp7dF4v9W1nrCGB51LTg5N2lklC6dVkfWW5t9bL01bMSdCW7JCxGl81bhDKW7N_KqM12CJpdW3VKVtL6mGW-jW7PZWjr6pzHWBW7bnnc_7fKqQcW94q7cq6VKJl2W1hC_8g5lppF5W2D-4Yc52QNf_W2m2rxK5p59FbW5RS7T25TtbXWW5D7H8S3vhVZgW3C61pK6z1LZmW5PHRKY3shL5DW4LjDF06gJdtwW47Z6Xs3JQNrfW3r_Q0M6-9Cf3W3Ygcw64wwzDBW48fZ1n6dtfCzW4pcD4v82G-VBN8yRbpjrPpMvVrJh2D5bVWMXW2yqJMJ3gqrMyW69NJRJ4qTk1qW3Pdvn34J35SnW2N3wzQ9c5f97W1CrJJj7gZNh5W87C4Bf16q663W3zxJ4g3FW2hmN3hGm6lrKGtgW5kBqs23X6Vls0"
                                                    target="_blank"><img src=
                                                    "https://static0.quelleenergie.net/images/faq/signature-devis_min_1-377.jpg?1489163455"
                                                    style=
                                                    "border:0;max-width:100%!important"
                                                    width="580"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table width="85%">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center">
                                                                    <h2 style=
                                                                    "margin:0!important;font-family:'Open Sans',arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:200!important;color:#252b33!important">
                                                                     </h2>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align=
                                                                "center" style=
                                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:400!important;color:#252b33!important;font-style:italic!important">
                                                                Devis</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table border="0"
                                                    cellpadding="0"
                                                    cellspacing="0" width=
                                                    "78%">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center" style=
                                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#7e8890!important">
                                                                Dear Amine you just got invited to the front loading costs platforme, join now to start collaborating!</b> . 

N'hesitez pas à nous contacter si vous avez des questions. 

Salutations,</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign=
                                                "top">
                                                    <table border="0"
                                                    cellpadding="0"
                                                    cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center"
                                                                valign="top">
                                                                    <a href=
                                                                    "http://erp.test/Vente/Signature/{{$idd}}"
                                                                    style=
                                                                    "background-color:#ff2b63;padding:14px 28px 14px 28px;border-radius:3px;line-height:18px!important;letter-spacing:0.125em;text-transform:uppercase;font-size:13px;font-family:'Open Sans',Arial,sans-serif;font-weight:400;color:#ffffff;text-decoration:none;display:inline-block;line-height:18px!important"
                                                                    target=
                                                                    "_blank">Join Now</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                         
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" width="580">
                                        <tbody>
                                           
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style=
                                                "font-family:'Open Sans',sans-serif!important;font-weight:400!important;color:#7e8890!important;font-size:12px!important;text-transform:uppercase!important;letter-spacing:.045em!important"
                                                valign="top">ERP MSI &amp;
                                                WEB</td>
                                            </tr>
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                          
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <a href=
                                                    "http://erp.test/"
                                                    style=
                                                    "font-family:Open Sans,sans-serif!important;font-size:12px!important;color:#7e8890!important;text-decoration:underline!important"
                                                    target="_blank">SITE WEB</a>
                                                </td>
                                            </tr>
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign=
                                                "top">
                                                    <p style=
                                                    "margin-bottom:1em;font-family:Open Sans,sans-serif!important;padding:0!important;margin:0!important;color:#7e8890!important;font-size:12px!important;font-weight:300!important">
                                                    <span>Tangier,Morocoo</span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>