
<div class="login-wrapper ">
    <div class="bg-pic">
        <img src="https://www.yazaki-europe.com/fileadmin/_processed_/3/4/csm_yazaki-supplier-headerbild_3623344b1d.jpg"
            alt="" class="lazy" />

        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <p class="small">
                images Displayed are solely for representation purposes only, All
                pictures copyright of respective owner © 2020 YAZAKI.
            </p>
        </div>
    </div>

    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="https://www.yazaki-europe.com/typo3conf/ext/typo3sz_assets/Resources/Default/Public/Images/logo.png"
                alt="logo" data-src="assets/img/logo.png" width="180" height="22" />

            <p class="p-t-35">Add a password to your account</p>

            <form id="form-login" class="p-t-15"  #ResetPasswordForm=ngForm (ngSubmit)="onSubmit()" >
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Registration Number</label>
                    <div class="col-sm-10">
                      <input type="text" name="Card" class="form-control" id="inputEmail3" placeholder="Registration Number" [(ngModel)]="form.Card" required>
                      <span class="text-danger" [hidden]="!error.Card">{{error.Card}}</span>
                    </div>
                  </div>
          
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password"
                        required>
                        <span class="text-danger" [hidden]="!error.password">{{error.password}}</span>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label for="inputPassword4" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                      <input type="password" name="password_confirmation" class="form-control" id="inputPassword4" placeholder="Confirm Password" [(ngModel)]="form.password_confirmation"
                        required>
                        <span class="text-danger" [hidden]="!error.password_confirmation">{{error.password_confirmation}}</span>
                    </div>
                  </div>
          

                

                <button class="btn btn-primary btn-cons m-t-10" type="submit" [disabled]="!ResetPasswordForm.valid" >
                    Change Password
                </button>

              
            </form>
        </div>
    </div>
</div>

