<app-sidemenu> </app-sidemenu>

<div class="page-container">
  <app-navbar> </app-navbar>


  <div class="page-content-wrapper mb-5">
    <div class="content">
      <div class="social-wrapper">
        <div class="social" data-pages="social">
          <!-- START JUMBOTRON -->
          <div class="jumbotron" data-pages="parallax" data-social="cover">
            <div
              class="cover-photo"
              style="
                background-image: url('https://www.yazaki-europe.com/fileadmin/user_upload/Startseite/sliderbild-innovative-partner.png');
                transform: translateY(0px);
              "
            ></div>
            <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
              <div
                class="inner"
                style="transform: translateY(0px); opacity: 1;"
              >
                <div class="pull-bottom bottom-left">
                  <h1 class="text-white no-margin titilenexsize">
                    <span class="semi-bold titilenexsize"
                      >Front loading Cost - New Project</span
                    >
                    T80
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3 m-b-10">
            <!-- START WIDGET widget_progressTileFlat-->
            <div
              class="widget-8 card no-border bg-warning no-margin widget-loader-bar"
            >
              <div class="full-height d-flex flex-column">
                <div class="card-header">
                  <div class="card-title text-black">
                    <span class="font-montserrat fs-11 all-caps"
                      >Cost need approve <i class="fa fa-chevron-right"></i>
                    </span>
                  </div>
                  <div class="card-controls">
                    <ul>
                      <li>
                        <a
                          href="#"
                          class="card-refresh text-black"
                          data-toggle="refresh"
                          ><i class="card-icon card-icon-refresh"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="p-l-50 p-t-15">
                  <h3 class="no-margin p-b-5 text-white">14 remaining</h3>
                </div>
              </div>
            </div>
            <!-- END WIDGET -->
          </div>

          <div class="col-lg-3 m-b-10">
            <!-- START WIDGET widget_progressTileFlat-->
            <div
              class="widget-9 card no-border bg-success no-margin widget-loader-bar"
            >
              <div class="full-height d-flex flex-column">
                <div class="card-header">
                  <div class="card-title text-black">
                    <span class="font-montserrat fs-11 all-caps"
                      >Cost approved <i class="fa fa-chevron-right"></i>
                    </span>
                  </div>
                  <div class="card-controls">
                    <ul>
                      <li>
                        <a
                          href="#"
                          class="card-refresh text-black"
                          data-toggle="refresh"
                          ><i class="card-icon card-icon-refresh"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="p-l-50 p-t-15">
                  <h3 class="no-margin p-b-5 text-white">124 done</h3>
                </div>
              </div>
            </div>
            <!-- END WIDGET -->
          </div>

          <div class="col-lg-3 m-b-10">
            <!-- START WIDGET widget_progressTileFlat-->
            <div
              class="widget-9 card no-border bg-success no-margin widget-loader-bar"
            >
              <div class="full-height d-flex flex-column">
                <div class="card-header">
                  <div class="card-title text-black">
                    <span class="font-montserrat fs-11 all-caps"
                      >This month costs <i class="fa fa-chevron-right"></i>
                    </span>
                  </div>
                  <div class="card-controls">
                    <ul>
                      <li>
                        <a
                          href="#"
                          class="card-refresh text-black"
                          data-toggle="refresh"
                          ><i class="card-icon card-icon-refresh"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="p-l-50 p-t-15">
                  <h3 class="no-margin p-b-5 text-white">20 done</h3>
                </div>
              </div>
            </div>
            <!-- END WIDGET -->
          </div>

          <div class="col-lg-3 m-b-10">
            <!-- START WIDGET widget_progressTileFlat-->
            <div
              class="widget-9 card no-border bg-success no-margin widget-loader-bar"
            >
              <div class="full-height d-flex flex-column">
                <div class="card-header">
                  <div class="card-title text-black">
                    <span class="font-montserrat fs-11 all-caps"
                      >Shared Data currently <i class="fa fa-chevron-right"></i>
                    </span>
                  </div>
                  <div class="card-controls">
                    <ul>
                      <li>
                        <a
                          href="#"
                          class="card-refresh text-black"
                          data-toggle="refresh"
                          ><i class="card-icon card-icon-refresh"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="p-l-50 p-t-15">
                  <h3 class="no-margin p-b-5 text-white">10 opened</h3>
                </div>
              </div>
            </div>
            <!-- END WIDGET -->
          </div>
        </div>

        
      </div>
      <div class="container-fluid container-fixed-lg bg-white">
        <!-- START card -->
        <div class="card card-transparent">
          <div class="card-header">
            <div class="card-title">costs that need approval</div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <div id="basicTable_wrapper" class="dataTables_wrapper no-footer">
                <table
                  class="table table-hover dataTable no-footer"
                  id="basicTable"
                  role="grid"
                >
                  <thead>
                    <tr role="row">
                      
                      <th
                        style="width: 176px;"
                        class="sorting_desc"
                        tabindex="0"
                        aria-controls="basicTable"
                        rowspan="1"
                        colspan="1"
                        aria-sort="descending"
                        aria-label="Title: activate to sort column ascending"
                      >
                      CATEGORY
                      </th>
                      <th
                        style="width: 179px;"
                        class="sorting"
                        tabindex="0"
                        aria-controls="basicTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Places: activate to sort column ascending"
                      >
                      CLIENT
                      </th>
                      <th
                        style="width: 80px;"
                        class="sorting"
                        tabindex="0"
                        aria-controls="basicTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Activities: activate to sort column ascending"
                      >
                      PROJET
                      </th>
                      <th
                        style="width: 80px;"
                        class="sorting"
                        tabindex="0"
                        aria-controls="basicTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Status: activate to sort column ascending"
                      >
                      AMOUNT    
                      </th>
                      <th
                        style="width: 125px;"
                        class="sorting"
                        tabindex="0"
                        aria-controls="basicTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Last Update: activate to sort column ascending"
                      >
                      RESPONSIBILITY
                      </th>
                      <th
                        style="width: 125px;"
                        class="sorting"
                        tabindex="0"
                        aria-controls="basicTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Last Update: activate to sort column ascending"
                      >
                      By
                      </th>
                      <th
                        style="width: 125px;"
                        class="sorting"
                        tabindex="0"
                        aria-controls="basicTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Last Update: activate to sort column ascending"
                      >
                      ACTION
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd">
                      
                      <td class="v-align-middle sorting_1">
                        <p>Scrap validation</p>
                      </td>
                      <td class="v-align-middle">
                        <p>RENAULT</p>
                      </td>
                      <td class="v-align-middle">
                        <p>
                            XJX
                        </p>
                      </td>
                      <td class="v-align-middle">
                        <p>210 €</p>
                      </td>
                      <td class="v-align-middle">
                        <p>Interne</p>
                      </td>
                      <td class="v-align-middle">
                        <p>MEHDI KRAIMI</p>
                      </td>
                      <td class="v-align-middle">
                        <button  class="ng-tns-c4-0 mat-icon-button mat-button-base mat-Primary" color="Primary" mat-icon-button="" ng-reflect-color="warn"><span class="mat-button-wrapper"><mat-icon _ngcontent-fet-c4="" aria-label="Delete" class="mat-icon notranslate ng-tns-c4-0 material-icons mat-icon-no-color" role="img" aria-hidden="true">done</mat-icon></span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
                     
                        <button  class="ng-tns-c4-0 mat-icon-button mat-button-base mat-warn" color="warn" mat-icon-button="" ng-reflect-color="warn"><span class="mat-button-wrapper"><mat-icon _ngcontent-fet-c4="" aria-label="Delete" class="mat-icon notranslate ng-tns-c4-0 material-icons mat-icon-no-color" role="img" aria-hidden="true">delete</mat-icon></span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
                      </td>
                    </tr>
                    <tr role="row" class="odd">
                      
                        <td class="v-align-middle sorting_1">
                          <p>Premium outbound</p>
                        </td>
                        <td class="v-align-middle">
                          <p>PSA</p>
                        </td>
                        <td class="v-align-middle">
                          <p>
                            eCMP
                          </p>
                        </td>
                        <td class="v-align-middle">
                          <p>900  €</p>
                        </td>
                        <td class="v-align-middle">
                          <p>Interne</p>
                        </td>
                        <td class="v-align-middle">
                          <p>MEHDI KRAIMI</p>
                        </td>
                        <td class="v-align-middle">
                          <button  class="ng-tns-c4-0 mat-icon-button mat-button-base mat-Primary" color="Primary" mat-icon-button="" ng-reflect-color="warn"><span class="mat-button-wrapper"><mat-icon _ngcontent-fet-c4="" aria-label="Delete" class="mat-icon notranslate ng-tns-c4-0 material-icons mat-icon-no-color" role="img" aria-hidden="true">done</mat-icon></span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
                       
                          <button  class="ng-tns-c4-0 mat-icon-button mat-button-base mat-warn" color="warn" mat-icon-button="" ng-reflect-color="warn"><span class="mat-button-wrapper"><mat-icon _ngcontent-fet-c4="" aria-label="Delete" class="mat-icon notranslate ng-tns-c4-0 material-icons mat-icon-no-color" role="img" aria-hidden="true">delete</mat-icon></span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
                        </td>
                      </tr>
                  
                      <tr role="row" class="odd">
                      
                        <td class="v-align-middle sorting_1">
                          <p>Premium outbound</p>
                        </td>
                        <td class="v-align-middle">
                          <p>PSA</p>
                        </td>
                        <td class="v-align-middle">
                          <p>
                            DPE
                          </p>
                        </td>
                        <td class="v-align-middle">
                          <p>50 €</p>
                        </td>
                        <td class="v-align-middle">
                          <p>Interne</p>
                        </td>
                        <td class="v-align-middle">
                          <p>MEHDI KRAIMI</p>
                        </td>
                        <td class="v-align-middle">
                          <button  class="ng-tns-c4-0 mat-icon-button mat-button-base mat-Primary" color="Primary" mat-icon-button="" ng-reflect-color="warn"><span class="mat-button-wrapper"><mat-icon _ngcontent-fet-c4="" aria-label="Delete" class="mat-icon notranslate ng-tns-c4-0 material-icons mat-icon-no-color" role="img" aria-hidden="true">done</mat-icon></span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
                       
                          <button  class="ng-tns-c4-0 mat-icon-button mat-button-base mat-warn" color="warn" mat-icon-button="" ng-reflect-color="warn"><span class="mat-button-wrapper"><mat-icon _ngcontent-fet-c4="" aria-label="Delete" class="mat-icon notranslate ng-tns-c4-0 material-icons mat-icon-no-color" role="img" aria-hidden="true">delete</mat-icon></span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button>
                        </td>
                      </tr>
                    
                  
                  </tbody>
                </table>

                
               
              
              </div>
            </div>
          </div>
        </div>
        <!-- END card -->
      </div>
    </div>
  </div>
</div>

<app-navbar [user]="user"></app-navbar>
